In [ ]:
#Write a Python program to sum all the items in a list.

In [9]:
def sum2(list):
    sumf=0
    for i in list:
        sumf+=i
    return sumf
print(sum2([1,2,3,4,5]))

15

In [ ]:
# Write a Python program to count the number of strings where the string length is 2 or
# more and the first and last character are same from a given list of strings.

In [16]:
string=["ab","abc","a","sabit","aba","bbb"]
count=0
for i in string:
    if len(i)>1 and i[0]==i[-1]:
            count+=1
print(count)

2

In [12]:
string=["ab","abc","a","sabit"]
string[1][-1]

'c'

In [ ]:
#Write a Python program to remove duplicates from a list.

In [18]:
l1=["a","a",1,2,1,3,4,5]
l2=[]
c=0
for i in l1:
    if i not in l2:
        l2.append(i)
print(l2)

['a', 1, 2, 3, 4, 5]

In [ ]:
## A better method to find prime

In [30]:
import math

def prime(n):
    if n%2==0 and n>2:
        return False
    for i in range(3,int(math.sqrt(n))+1,2):    ##### for 101, checked condition with 2,3,5,7,9 to sqrt(n)
        if n%i==0:
            return False
    else:
        return True

In [42]:
if prime(5) == True: print("Prime")
else: print("Not prime")

Prime

In [47]:
def gencubes(n):
    for num in range(n):
        yield num**3

In [48]:
for x in gencubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [85]:
## fibonocci
def fibon1(n):
    a=0
    b=1
    l=[]
    for i in range(n): 
        c=a+b
        a=b
        b=c
        l.append(a)
    return l

In [86]:
fibon1(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [83]:
##method 2
def fibon2(n):
    a=1
    b=1
    l=[]
    for i in  range(n):
        l.append(a)
        a,b=b,a+b
    return l

In [84]:
fibon2(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [87]:
# method 3 (using yield)
def fibon3(n):
    a=1
    b=1
    for i in range(n):
        yield a
        a,b = b, a+b

In [88]:
for x in fibon3(10):
    print(x)

1
1
2
3
5
8
13
21
34
55

In [90]:
a = list(range(3,7))
a

[3, 4, 5, 6]

In [2]:
## map(a=function, b=an iterable)

def square(n):
    return n**2
    
n=[2,3,4,5]

square(n)

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [3]:
map(square,n)

In [4]:
list(map(square,n))  ###without any loop operations can be done

[4, 9, 16, 25]

In [5]:
###lambda function. Now we need no function. Just specify the operation with lambda function

map(lambda x:x**2, n)

In [6]:
list(map(lambda x:x**2, n))

[4, 9, 16, 25]

In [7]:
a=[1,2,3]
b=[5,6,7]
c=[10,11,12,13,14]

list(map(lambda x:x+y+z, a,b,c))

TypeError: <lambda>() takes 1 positional argument but 3 were given

In [10]:
list(map(lambda x,y,z:x+y+z, a,b,c))

[16, 19, 22]

In [9]:
def sum(x,y,z):
    return x+y+z

list(map(sum,a,b,c))   ### map can multiple iterables

[16, 19, 22]

In [17]:
## reduce(a=function,b=iterable)  #it can perform operation on the given iterables one after another
from functools import reduce

l=[10,20,30,40]
list(reduce(lambda x,y:x+y, l))    ### reduce returns only one integer i.e. the final result

TypeError: 'int' object is not iterable

In [20]:
reduce(lambda x,y:x+y, l)

100

In [26]:
max_num = lambda a,b:a if a>b else b

l=[50,20,100,60,200,201,203]
reduce(max_num,l)

203

In [31]:
## filter(a=boolean function, b=iterable)   ##the bool function will be applied on every iterable and return the True iterable
list(filter(lambda x:x%2==0, l))

[50, 20, 100, 60, 200]

In [30]:
list(map(lambda x: x%2==0,l))

[True, True, True, True, True, False, False]

# OOP

In [1]:
class abc:
    pass

In [3]:
a = abc()
a

In [2]:
class Person:
    def __init__(self, firstname, lastname, birth_year):
        self.name = firstname
        self.surname = lastname
        self.year = birth_year

In [3]:
a = Person("Sabit", "Ahmed", 1994)
print(a)

<__main__.Person object at 0x0000028AB76D6978>

In [11]:
a.name

'Sabit'

In [4]:
list(a)

TypeError: 'Person' object is not iterable

In [21]:
print(a.name)

Sabit

In [22]:
print(Person("Sabit", "Ahmed", 1994))

<__main__.Person object at 0x000002E0E9FE7978>

In [14]:
print("%s %s was born in %d." %(a.name, a.surname, a.year))

Sabit Ahmed was born in 1994.

In [14]:
class Person2:
    def __init__(self, firstname, lastname, birth_year):
        self.name = firstname
        self.surname = lastname
        self.year = birth_year
        
    def age(abc, current_year):
        return current_year - abc.year
    
    def __str__(efg):
        return "%s %s was born in %d." %(efg.name, efg.surname, efg.year)   ### built-in string returning function of a class

In [15]:
sabit = Person2("Sabit", "Ahmed", 1994)
print(sabit)

Sabit Ahmed was born in 1994.

In [23]:
print(Person2("Sabit", "Ahmed", 1994)) ## the values are being printed for __str__ function

Sabit Ahmed was born in 1994.

In [31]:
print(sabit.age(2020))

26

In [34]:
print(Person2.age(2020))  ## we always need to create an object of a particular class first, then access the elements of it.

TypeError: age() missing 1 required positional argument: 'current_year'

In [35]:
b=Person2()

TypeError: __init__() missing 3 required positional arguments: 'firstname', 'lastname', and 'birth_year'

In [36]:
class Person3:
  
    def set_name(self, name):
        self.name = name
        
    def set_surname(self, surname):
        self.surname = surname
        
    def set_year_of_birth(self, year_of_birth):
        self.year_of_birth = year_of_birth
        
    def age(self, current_year):
        return current_year - self.year_of_birth
    
    def __str__(self):
        return "%s %s was born in %d ." \
                % (self.name, self.surname, self.year_of_birth)

In [37]:
c = Person3()

In [38]:
c.name()

AttributeError: 'Person3' object has no attribute 'name'

In [41]:
c.set_name("Sabit")
c.set_surname("Ahmed")
c.set_year_of_birth(1994)

In [42]:
c.name

'Sabit'

In [44]:
c.age(2020)

26

'Public method'

This is from class A
This is from class B

'This is from class B'

This is from class A

This is from class A and This is modified by B